# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

TableTool/bin/Debug/TableTool.vshost.exe.manifest
TableTool/obj/Debug/App.g.cs
TableTool/obj/Debug/App.g.i.cs
TableTool/obj/Debug/MainWindow.baml
TableTool/obj/Debug/TableTool.Properties.Resources.resources
TableTool/obj/Debug/TableTool.g.resources
TableTool/obj/Debug/TableTool.csproj.FileListAbsolute.txt
TableTool/obj/Debug/MainWindow.g.i.cs
TableTool/obj/Debug/MainWindow.g.cs
TableTool/obj/Debug/MainWindow.g.cs